:root {
	--page-width: 28rem;
}

body {
	background-color: black;
	color: white;
}

h1 { text-align: center; }

table {
	margin-inline: auto;
	border-collapse: collapse;
}

th, td {
	border: 1px solid white;
	text-align: center;
	padding: .5rem;
}

th { background-color: hsl(0, 0%, 10%); }
td { background-color: hsl(0, 0%, 15%); }

main {
	max-width: var(--page-width);
	margin-inline: auto;
}

/* .entities-element {} */